# Exploratory data analysis

In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('balanced_data_big.csv', quotechar='"', delimiter=',', on_bad_lines='skip', encoding='utf-8', doublequote=True)

In [4]:
df.count()

label    326118
model    326118
text     326118
dtype: int64

In [5]:
df.head()

   label  model                                               text
0      0  human  Tom was planning to propose to Mary. He had al...
1      0  human  Investors who are themselves Canadian and alre...
2      0  human  Radiolab did a great piece on this called ' Ki...
3      0  human  Our group of five was looking for a quiet, loc...
4      0  human  Does that count domestic birds? Because poultr...

In [6]:
df['label'].value_counts()

label
0    163059
1    163059
Name: count, dtype: int64

In [ ]:
plt.figure(figsize=(10, 6))
sns.countplot(df['label'], edgecolor='black')
plt.title('Count of Label')
plt.legend(['Machine Generated', 'Human'])
plt.xlabel('Count')
plt.ylabel('Label')

In [ ]:
df['model'].value_counts()

In [ ]:
df_grouped = df.groupby(['label', 'model']).size().reset_index(name='count')
df_sorted = df_grouped.sort_values(by='count', ascending=False)
df_sorted

In [ ]:
plt.figure(figsize=(10, 6))
sns.barplot(x=df_sorted['model'], y=df_sorted['count'], hue='label', data=df_sorted)
plt.xlabel('Model')
plt.xticks(rotation=90)
plt.ylabel('Number of samples')
plt.title('Number of samples per model')